.footerChat {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 7em;
  background-color: rgb(235, 235, 235);
  border-top: 1px solid lightslategray;
}

.wrapper-pseudo {
  width: 90%;
  margin: auto auto;
  position: relative;
}

.typeMessege {
  width: 100%;
  height: 5em;
  border-radius: 17px;
  font-size: 1em;
  border: 1px solid lightslategray;
  border-radius: 2em;
  outline: none;
}

.sendMessege {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  top: 20%;
  right: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}
